mat-form-field {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.example-radio-button {
    margin: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}